<div id="locationListContainer" class="min-h-[40vh] max-h-[60vh] overflow-y-auto border-t pt-4" th:fragment="locationList">
    <h2 class="text-lg font-bold">📍 저장된 위치</h2>
    <table class="w-full border-collapse border border-gray-300">
        <thead class="bg-gray-200">
        <tr>
            <th class="p-3 border border-gray-300 text-left">이름</th>
            <th class="p-3 border border-gray-300 text-left">주소</th>
        </tr>
        </thead>
        <tbody id="locationList"></tbody>
    </table>
</div>